:root {
    --branding-color: #005bbb;
    --secondary-color:  #f9f7fe;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}
body {
    font-family: var(--default-font-family);
    background-color: #fbf2f2;
}

h1, h2, h3 {
    color: rgb(49, 47, 47);
    font-family: var(--heading-font-family);
    font-weight: bold;
}
h1 {
    font-size: 60px;
    line-height: 1.5;
}

h2 {
    font-size: 40px;
}

p {
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
}
.img-fluid {
border-radius: 10px;
}
.img-fluid-rounded-w-50 {
  border-radius: 15px;
  width: 20%;
}
.goli-image {
max-width: 60%;
display: block;
margin: 0 auto;
}


.hero{
    background-color: var(--secondary-color);
    text-align: center;
    padding:60px 20px;
}

.hero p {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    color: #272142;

}

.hero h2 {
    font-family: var(--heading-font-family);
    font-weight: normal;
    line-height: 2;
    font-size: 24px;
}

.content-container {
    padding: 60px 20px;
  }
  
  .content h1 {
font-size: 64px;
line-height: 80px;
}
.content h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
  }
  
  .content h3 {
    font-size: 24px;
    line-height: 1.5;
  
    font-family: var(--default-font-family);
  }
  
  .content p {
    font-size: 14px;
  }
  
  .content {
    margin: 30px;
  }

.btn-branding {
    background-color: var(--branding-color);
    border-radius: 25px;
    color: rgb(247, 231, 8);
    font-size: 18px;
    line-height: 27px;
    padding: 10px 20px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.btn-branding-outline {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
.project-decsription {
   padding: 120px 60px; 
   background-color: var(--secondary-color);
}
.logo {
    max-height: 60px;
  }
  
  nav {
    padding: 20px 0;
  }
  
  nav ul {
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
  }
  
  nav a {
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease-in-out;
  }
  
  nav a:hover,
  nav li.active a {
    color: var(--branding-color);
  }
  footer {
    margin: 60px 0;
  }
  
  footer .contact-box {
    background: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
  }
  
  footer .contact-box p {
    margin: 0;
  }
  
  footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
  }
  
  footer .email-link:hover {
    color: var(--branding-color);
  }
  
  footer .social-links a {
    margin: 0 20px;
    color: var(--branding-color);
    background: var(--secondary-color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 100ms ease-in-out;
  }
  
  footer .social-links a:hover {
    color: white;
    background: var(--branding-color);
  }
@media (max-width: 900px) {
    h1 {
        font-size: 44px;
        line-height: 56px;
    }
    h2 {
        font-size: 44px;
    }
    .content {
        text-align: center;
        padding: 0;
      }    
    .project-decsription {
        padding: 0;
        text-align: center; 
    }
    }